

header{
 background-color: chocolate;
}

body{
  background-image: url(webBG.jpg);
  background-size: contain;
}
main{
  float: left;
  width: 50%;
}

aside{
  position: fixed;
  left: 65%;
  width: 25%;
  background-color: chocolate;
  padding: 1%;

}



aside *{

  padding: 0;
  width: 100%;
}

aside table *{
  border: 2px solid lightgray;
}

aside h2{

  margin: 1%;
  margin-left: 0;
  border: 2px solid lightgray;
}

aside section{
border: 2px solid lightgray;
margin-bottom: 1%;
}

xml{
  display: none;
}
